<!DOCTYPE html>
<html ng-app="Tombola.BingoCaller">
<head>
    <title>BingoCaller!</title>
    <script src="bower_components/angular/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
</head>

<body ng-controller="bingoCallerController">
<h1>BingoCaller!</h1>

<form>
    <input type="number" id="arrayLength"/>
</form>

<div>
    <button ng-click="createCustomArray()">Create Array</button>
    <button ng-click="shuffleArray()">Shuffle</button>
</div>
<div>
    <p id="arrayDisplay"></p>
</div>


<script src="scripts/built.js"></script>
</body>
</html>