<!DOCTYPE html>
<html ng-app="Tombola.BingoCaller">
<head>
    <title>HelloWorld!</title>
    <script src="angular/angular.js"></script>
</head>

<body ng-controller="bingoCallerController">
<h1>BingoCaller!</h1>

<form>
    <input type="number" id="arrayLength"/>
</form>

<div>
    <button ng-click="createCustomArray()">Create Array</button>
    <button ng-click="shuffleArray()">Shuffle</button>
    <button ng-click="resetArray()">Reset</button>
</div>

<script src="scripts/built.js"></script>
</body>
</html>